<%# Header %>
<h3 class="display-5 text-dark text-center"><%= "#{@contacts.count()} Contacts" %></h3>

<%# Create and Search %>
 <div class = "containers">
    <div class= "row justify-content-around">
        <div class="col-sm"><%= link_to "Create", new_contact_path, method: :get, :class => 'btn btn-success' %></div>
            <form action="/contacts" method="GET" class="input-group col-sm">
                <input type="text" name="search_name" class=" form-control">
                <div class="input-group-append">
                    <input type="submit" value="search" class="btn btn-outline-secondary">
                </div>
            </form>
        </div>
    </div>    
</div><br>

<%# Display each contact %>
<div class="container" role="main">
    <% @contacts.each do |contact| %>
        <div class="card">
            <h5>
                <strong><%= contact.first_name%></strong>
                <strong><%= contact.last_name%></strong>
            </h5>
            <div class="card-body">
                <p>
                    <strong>Phone Number: </strong>
                    <%= number_to_phone(contact.primary_phone, area_code:true) %>
                </p>
                <p>
                    <strong>Email: </strong>
                    <%= contact.email %>
                </p>
                <%= link_to "Edit", edit_contact_path(contact), :class => 'btn btn-primary btn-sm' %>
                <%= link_to "Delete", contact_path(contact), method: :delete, data: {confirm: "Delete Permanantly?"}, :class => 'btn btn-danger btn-sm' %>
            </div>
        </div>
    <% end %>
</div>