<h2 class="text-center">Log in</h2>

<div class="container col-4 min-vw-25 form-signin">
  <body>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control"  %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox text-center">
          <%= f.check_box :remember_me, class: "d-inline" %>
          <%= f.label :remember_me, class: "d-inline" %>
        </div><br>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in",  class: "btn btn-primary btn-block" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </body>
</div>

